@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";

:host,
:host input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input {
  padding: .2rem;
}