:host,
:host input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}

input {
  padding: .2rem;
}

.btn {
  display: inline-block;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid #6c757d;
  padding: .2rem .4rem;
  border-radius: .25rem;
  transition: color .15s ease-in-out,
    background-color .15s ease-in-out,
    border-color .15s ease-in-out,
    box-shadow .15s ease-in-out;
  margin-left: 5px;

}

.btn:hover {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;
}

ul.list-group {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
}

ul.list-group>li:first-child {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

ul.list-group>li {
  position: relative;
  display: block;
  padding: .3rem .6rem;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, .125);
}

ul.list-group>li:hover {
  background-color: #007bff;
  transition: background .2s ease-in-out;
}