<input type="text"
       [(ngModel)]="search"
       #inputSearch
       placeholder="Search...">
<button (click)="clear()"
        class="btn"
        [disabled]="isSearching">Clear</button>

<div style="margin: 10px">
  <div>
    <label>
      <input type="checkbox"
             [(ngModel)]="showExplain">Show DQL explain output
    </label>
  </div>
  <div style="margin-top: 5px;">
    <label>
      <input type="checkbox"
             (change)="doSearch()"
             [(ngModel)]="useJNA">Use JNA endpoint
    </label>
  </div>
  <div>
    Sort by:
    <select [(ngModel)]="sortBy"
            (change)="doSearch()"
            [disabled]="!useJNA">
      <option value="lastName">Last name</option>
      <option value="firstName">First name</option>
      <option value="city">City</option>
    </select>
    <label>
      <input type="checkbox"
             [disabled]="!useJNA"
             (change)="doSearch()"
             [(ngModel)]="sortDescending">Sort descending
    </label>
  </div>

</div>

<!--search results-->
<div *ngIf="searched && list.length===0">
  No users found
</div>

<ul class="list-group">
  <li *ngFor="let user of list">
    {{user.firstname}} {{user.lastname}}, {{user.city}}</li>
</ul>

<div *ngIf="showExplain">
  <h4>Explain output</h4>
  {{result.explain}}
</div>