<!--filter-->
<div style=" margin: 10px 0">
  <input placeholder="Search contact..."
         style="display:inline-block"
         appAutofocus
         class="form-control"
         (keyup)="onGridFilterChanged()"
         [(ngModel)]="gridState.filter" />

  <a (click)="resetFilter()"
     style="display: inline-block; margin-left: 10px; cursor: pointer;"
     (disabled)="gridState.filter && gridState.filter.length">clear</a>

  <span style="margin-left: 100px; color: #999">(number of results: {{gridState.total | number}})</span>

</div>

<div>

  <ag-grid-angular #agGrid
                   style='width: 100%; height: 500px;'
                   [gridOptions]="gridOptions"
                   id='myGrid'
                   class='ag-theme-balham'
                   (gridReady)='onGridReady()'
                   (sortChanged)='onGridSortChanged()'></ag-grid-angular>

</div>